body {
  #background:#fdf5e6;
  background:url('fondos/opo0510f.jpg') no-repeat center center fixed;
  color:#000000;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin:6px;
  padding:0;
  font-size: 14px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

li {
  font-family: "Comic Sans MS", Helvetica, Verdana, Arial,  sans-serif;
  color: red;
}
